# DS_Store
**/.DS_Store

# IDE configurations
**/.vscode
**/.idea

# Python Ignore
**/__pycache__

# Sensitive Files/Large Files
**/.env
**/cred.cfg
**/paths.cfg
**/config.ini
**/$HOME
**/.venv

# formula files should not be tracked in the repo.
**/py_services

