# -- general purpose --
python-dotenv~=1.0.0
configparser~=6.0.0


# -- central --
mariadb~=1.1.8
# Mariadb package requires mariadb-connector-c
# Additional packages outside pip: nfs-kernel-server, libmariadb3 libmariadb-dev


# -- scraping/publishing --
selenium~=4.26.1
seleniumbase~=4.32.9
bs4~=0.0.1
beautifulsoup4~=4.12.2
requests~=2.32.3
openai~=1.1.1
pyotp~=2.9.0
pyttsx3  # Additional dependencies needed: espeak ffmpeg libespeak1
Xlib~=0.21  # Additional virtual display libraries
pyautogui~=0.9.54
pyvirtualdisplay~=3.0  # additionally install xvfb, python3-tk, python3-dev
websocket-client~=1.8.0




# -- creating --
moviepy~=1.0.3
numpy<=1.26.4
imageio~=2.33.1
opencv-python~=4.10.0.82
openai-whisper  #v20231117, so unconventional pip gave up

# Additional packages outside of pip: ffmpeg (if not installed by imageio), imagemagick
# ImgMagick Policy Issue: https://askubuntu.com/questions/873112/imagemagick-cannot-be-detected-by-moviepy
# Comment this line in the policy.xml: <policy domain="path" rights="none" pattern="@*" />


# -- fastapi --
# fastapi~=0.109.0
# starlette~=0.35.1

# additional req
typing-extensions>=4.8.0
annotated-types>=0.4.0
pydantic-core==2.10.1
anyio<5,>=3.4.0
#idna>=3.7
sniffio>=1.1
pick~=2.2.0


