
# Mariadb package requires mariadb-connector-c
# sudo apt-get install libmariadb3 libmariadb-dev
mariadb~=1.1.8 

selenium~=4.14.0
configparser~=6.0.0
bs4~=0.0.1
beautifulsoup4~=4.12.2
requests~=2.31.0
openai~=1.1.1
python-dotenv~=1.0.0
undetected_chromedriver~=3.5.4


# Additional requirements:
# nfs-kernel-server
